<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value=""/>
    <add key="SMSPort" value=""/>
    <add key="UpdatePort" value=""/>
    <add key="UpPkgSize" value="-1"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
